body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
    background-image:url("https://photos.google.com/share/AF1QipPyvczZqQkYgvOGTclsi5V3Txs0dDXQolqKizNMe3_JajLarjOMCDzHCJ2x2-oJ0A/photo/AF1QipN_ZPCT1MLk5vloIZ_hdap7kfxlUeoRMZMggh6l?key=bzNMczdJSnpwMWNsVHprbUJrQVhlejFEQWtRbjFR");
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

