body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
   }

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    position:relative;
    right:25px;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    position:relative;
    right:50px;
}

