body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
    background-image:url("https://lh3.googleusercontent.com/usH69sipWx17Q4Vworq5XAeGM0oFsV1Wi0aTJqv3UuFydc0R6ccSbcG7JBbgJPpFfz6p1XjtJ4jK_zMyAOOxPGkE7kC2TI9Uk51QVDgeUywr7h7t1tq87h6lVIY5AdwAMavKSgKGCTwucanDxpWq2AgQ9oeFyl6KZR_qb5KDOBPAaFv2xh3IeUy4qdNusoTg2sM1E-sn6tCvm8Zx04znOeOT4MI2EvrhEJyj7oIeppn6gHRGt7AASdQVcUs5mgu3p0tbMFRD0m_LBrtZFupaeoWhzZGB4Cfi4wUVdaE4K7u5a8snDRtjwmBFG7WYia6v1DpYZEjSgtvWSeNw3y23xj2BKDJqmMY6n6Dj5O8BOVUEdPHiVGcmEtSA1swiBDDJRitFEDMLXOdX4YwcyFWp4WuyQYbpGDWNbuqe1Nbzn5Y7YVS1Vh6vgb7NlkGwIwcIyywEkicWR-i0_LoauCxCnsetOTxI3VOxq3nLphO94dxmNj4CZmrygxQzf56XTw7KREzooC_nTmFRRbuqxwSxENkSBQV02QLpwZTNhvn4laE4EtwPHcLauZ1rOjVYZ8AV-AHTF0nLZVj0QL_q3IYIFaTSVjK6-eoJ2smUQOU-TFuCCixaWq84FMdbvjBfTI5PDeaR5YatfuGonGCLAwG-63tBGDk4xhx46cA=s636-no");
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

